.large-hero {
    position: relative;

    /* The & symbol translate to .large-hero and postCSS knows how to compile it */
    &__text-content {
        position: absolute;
        top: 50%; /* Centers the text vertically but if off center, below code helps push it up */
        transform: translateY(-50%); /* Takes 50% of it's current hight and moves it up */
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title {
        font-weight: 300;
        color: $mainBlue;
        font-size: 4.8rem;
        margin: 0;
    }

    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 2.9rem;
        margin: 0;
    }

    &__description {
        color: #fff;
        font-size: 1.875rem;
        font-weight: 100; /* 100 helps the font weight to look not as bulky */
        text-shadow: 2px 2px 0 rgba(0,0,0,.1);
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }

} /* End of .large-hero */